## **<span style = "color: red">Beginner Level</span>**

## 1. Write a program to find the length of the string 'Hello World!' using a built-in function.

In [4]:
greeting = "Hello, World"
print(len(greeting))

12

## 2. Use the type() function to check the data type of the variable my_var = 3.14.

In [6]:
my_var = 3.14
print(type(my_var))

<class 'float'>

## 3. Calculate the sum of all numbers in the list [5, 10, 15] using a built-in function

In [5]:
thislist = [5, 10, 15]
print(f"The sum of the numbers is", sum(thislist))

The sum of the numbers is 30

## 4. Use the min() function to find the smallest number in [8, 3, 12, 7].

In [3]:
num = [8, 3, 12, 7]
print(F"The smallest number is", min(num))

The smallest number is 3

## 5. Write a program that takes user input and prints it in uppercase using a built-in function.

In [5]:
word = (input("Type in any word in lower case: "))
print(f"{word} in upper case letters is", word.upper())

Type in any word in lower case:  sand

sand in upper case letters is SAND

## **<span style = "color: red">Intermediate</span>**

## 1. Sort the list [10, 5, 8, 3] in ascending and descending order using a built-in function.

In [4]:
numbers = [10, 5, 8, 3]
ascending_order = print(f"Ascending order:", sorted(numbers))
descending_order = sorted(numbers, reverse=True) # reverse the sorted list
print("Descending Order:", descending_order)

Ascending order: [3, 5, 8, 10]
Descending Order: [10, 8, 5, 3]

## 2. Write a program that accepts a list of numbers and filters out the odd numbers using the filter() function.

In [18]:
numbers = [3, 10, 7, 8, 5, 12]

odd_numbers = filter(lambda x: x % 2 == 1, numbers)
print(f"The odd numbers in the list are", list(odd_numbers))

The odd numbers in the list are [3, 7, 5]

## 3. Use the zip() function to merge two lists: ['John', 'Jane'] and [80, 90].

In [28]:
names = ["John", "Jane"]
numbers = [80, 90]

join = zip(names,numbers)
print(list(join))

[('John', 80), ('Jane', 90)]

## 4. Write a program that rounds a floating-point number (e.g., 3.7654) to 2 decimal places
using a built-in function.

In [36]:
number = 3.7654

print(round(number,2))

3.77

## 5. Write a program that maps a function to square each number in the list [2, 4, 6, 8].

In [42]:
numbers = [2, 4, 6, 8]

squares = map(lambda x:x**2,numbers)
print(f"The square value of each of these numbers: {numbers} are", list(squares))

The square value of each of these numbers: [2, 4, 6, 8] are [4, 16, 36, 64]

## **<span style="color:red">Advanced Level</span>**

## 1. Write a program to evaluate a mathematical expression entered by the user using eval().

In [15]:
num1 = (input("Enter the first number: "))
num2 = (input("Enter the second number: "))
num3 = (input("Enter the third number: "))

expression = f"({num1} * {num2})/{num3}"


print(f"Result is", eval(expression))

Enter the first number:  4
Enter the second number:  6
Enter the third number:  8

Result is 3.0

## 2. Create a program that combines two lists (e.g., names and marks) into a dictionary using
the zip() function.

In [21]:
names = ("Tunde", "George")
marks = (78, 60)

combined = zip(names, marks)
print(list(combined))

[('Tunde', 78), ('George', 60)]

## 3. Write a program that generates the Fibonacci sequence up to 10 terms using range() and list().

In [49]:

n_terms = 10 # Number of terms


fib_sequence = [0, 1] # Initialize the first two Fibonacci numbers


# Generate the next terms using range()
for i in range(2, n_terms):  
    next_term = fib_sequence[i - 1] + fib_sequence[i - 2]  # Sum of the last two numbers
    fib_sequence.append(next_term)  # Add the new term to the list

# Print the Fibonacci sequence
print("Fibonacci Sequence (10 terms):", fib_sequence)

Fibonacci Sequence (10 terms): [0, 1, 1, 2, 3, 5, 8, 13, 21, 34]

 ## 4. Use the map() function to apply a function that capitalizes each string in ['python', 'java', 'c++'].

In [51]:
languages = ['python', 'java', 'c++']

# Use map() to apply str.capitalize to each element
capitalized_languages = list(map(str.capitalize, languages))

print(capitalized_languages)

['Python', 'Java', 'C++']

## 5. Write a program to filter out words shorter than 4 letters from the list ['cat', 'dog', 'elephant', 'tiger'] using filter().

In [53]:
words = ['cat', 'dog', 'elephant', 'tiger']

# Use filter() to keep only words with 4 or more letters
filtered_words = list(filter(lambda word: len(word) >= 4, words))

print(filtered_words)

['elephant', 'tiger']